%h1 
  Your Repositories
  %small
    |
    = link_to 'New Repository', '#', 'data-toggle' => 'collapse', 'data-target' => '#new_repository_form'

= render 'collapsed_form'

- if @repositories.empty?
  No repositories yet.
  = link_to "Create your first one.", '#new_repository_form', 'data-toggle' => 'collapse'
- else
  %table.table.table-striped
    %tr
      %th Name
      %th Type
      %th
      %th
      %th

    - @repositories.each do |repository|
      = render 'repository', :repository => repository

  %br

