%ul
  %li= link_to "Parent directory", ".."
  - @packages.each do |package|
    %li= link_to "#{package.original_filename}", apt_package_path(package.component, package.letter, package.name, package.original_filename)
