p.hint {
  color: lighten($txtColor, 25%);
}

// select {
  // height: 32px;
  // line-height: 32px;
// }

select {
  font-family: $bodyFontFamily; 
  border: 1px solid darken($white, 20%); 
  @include border-radius(2px); 
  @include box-shadow(inset 0 1px 2px rgba(0,0,0,0.1)); 
  color: rgba(0,0,0,0.75); 
  display: inline-block; 
  font-size: ms(0); 
  @include appearance(none);
  margin: 0 0 $formSpacing 0; 
  padding: ($formSpacing / 2); 
  height: (ms(0) + ($formSpacing * 1.5)); 
  width: 100%; 
  @include transition(all 0.15s linear);

  &:after { content:""; }
  &.oversize { font-size: ms(1); padding: (($formSpacing - 4) / 2) ($formSpacing / 2); }

  &:focus { background: darken($white, 2%); outline: none !important; border-color: darken($white, 30%); }
  &[disabled] { background-color: #ddd; }
}

.error select, select.error { border-color: $alertColor; background-color: rgba($alertColor, 0.1); }
